:root {
    --normal: #6CB5F8;
    --fuerte: #78A8F5;
    --suave: #9CECFB;
    --negro: #2C2D2D;
    --gris: #D9D9D9;
    --blanco: #FFF;
    --titulo: 'Abril Fatface', cursive;
    --subtitulo: 'Tiro Devanagari Hindi', serif;
    --parrafo: 'Noto Sans', sans-serif;
}
/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
}
h1 {
    font-family: var(--titulo);
    font-size: 4rem;
}
h2 {
    font-family: var(--subtitulo);
    font-size: 3.5rem;
}
p {
    font-family: var(--parrafo);
    font-size: 2.4rem;
}
a {
    text-decoration: none;
    color: var(--negro);
}
/* Header */
.header {
    background-color: var(--fuerte);
}
.header__contenido--imagen {
    height: 10rem;
    width: 30rem;
}
.header__contenido {
    display: grid;
    grid-template-columns: 85rem 18rem 18rem;
    column-gap: 2rem;
    align-items: center;
}
.header__contenido--boton {
    text-decoration: none;
    font-family: var(--parrafo);
    background-color: var(--normal);
    color: var(--negro);
    height: 6rem;
    width: 18rem;
    font-size:2rem;
    font-weight: 700;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3rem;
}
@media (max-width: 768px) {
    .header {
        max-width: 100%;
    }
    .header__contenido {
        display: flex;
        flex-direction: column;
    }
    .header__contenido--imagen {
        max-height: 100%;
        max-width: 100%;
        margin-bottom: .5rem;
    }
    .header__contenido--boton {
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 1289px) {
    .header__contenido {
        grid-template-columns: 50rem 30rem 18rem 18rem;
    } 
}
@media (min-width: 1290px) {
    .header__contenido {
        grid-template-columns: 60rem 38rem 18rem 18rem;
    } 
}
@media (min-width: 1600px) {
    .header__contenido {
        grid-template-columns: 80rem 45rem 18rem 18rem;
    }
}
/* Main */
main h2 {
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: 700;
    text-decoration: underline var(--fuerte) solid .5rem;
}
main p {
    text-align: center;
    margin-bottom: 5rem;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 2rem 1rem 0 1rem;
}
.contenedor__secciones {
    margin-top: 3rem;
    background-color: var(--suave);
    border: .2rem solid var(--negro);
    width: 80%;
    height: 42.9rem;
}
.contenedor__secciones img {
    width: 100%;
    height: 25rem;
}
.contenedor__secciones h3 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline .2rem var(--fuerte);
}
@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1280px) {
    .contenedor {
        grid-template-columns: repeat(4, 1fr);
    }
    .contenedor__secciones {
        height: 50rem;
    }
    .contenedor__secciones img {
        height: 30rem;
    }
    .contenedor__secciones h3 {
        font-size: 3rem;
        margin-top: 1.2rem;
    }
}
.video {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
}
.video iframe {
    width: 95%;
    height: 25rem;
}
@media (min-width: 600px) {
    .video iframe {
        height: 40rem;
    }
}
@media (min-width: 1200px) {
    .video iframe {
        width: 80%;
        height: 65rem
    }
}
@media (min-width: 1500px) {
    .video iframe {
        width: 60%;
    }
}
/* Footer */
footer {
    background-color: var(--fuerte);
    height: 12.4rem;
    width: 100%;
    margin-top: 10rem;
}